header{
    background-color: #111;
    width: 100%;
    height: 100px;
}

.page-wrap{
    padding: 2rem 0;
}

header .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header .header-menu{
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
}

header .header-menu li{
    position: relative;
}

header .header-menu li a{
    padding: .25rem 1rem;
    color: #fff;
    text-decoration: none;
}

header .header-menu li:first-child a{
    padding-left: 0;
}

header .header-menu li:last-child a{
    padding-right: 0;
}

header .header-menu li .sub-menu{
    display: none;
    position: absolute;
    z-index: 9999;
    top: 100%;
    left: 0;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 120px;
    border-radius: .5rem;
}

header .header-menu li .sub-menu a{
    color: red;
    padding: .25rem;
    text-align: center;
    display: block;
    text-decoration: none;
}

header .header-menu li .sub-menu a:hover{
    color: #111;
}

header .header-menu > .menu-item-has-children:hover > .sub-menu{
    display: block;
}

header .header-menu .menu-item-has-children .sub-menu > .menu-item-has-children:hover .sub-menu{
    display: block;

}

header .header-menu .sub-menu li .sub-menu{
    top: 0;
    left: 100%;
}

footer h6{
    text-align: center;
}