$primary: #5caa5a;
$secondary:     rgb(220, 220, 220);
$success:       rgb(103, 241, 103);
$info:          cyan;
$warning:       yellow;
$danger:        red;
$light:         lightgray;
$dark:          darkgray;
$primary-colour: rgb(54, 115, 92);
$secendary-colour: rgb(42, 42, 104);
$primary-background: rgb(224, 224, 252);